@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-purple: #1F4FD8;
  --color-orange: #FF8A34;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Use Poppins as your sans font */
  --font-sans: var(--font-poppins);

  /* Keep your mono as-is (or change it later) */
  --font-mono: var(--font-geist-mono);
}


body {
  font-family: var(--font-sans), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
